h1 {
  font-weight: bold;
}
.addProductForm {
  margin: 0 auto;
  width: 80%;
}
.allinput {
  margin-bottom: 5px;
  width: 100%;
}
.submitButton {
  border: none;
  border-radius: 20px;
  padding: 7px 30px;
  background-color: rgb(34, 31, 31);
  color: white;
  font-weight: bold;
}
.submitButton:hover {
  background-color: yellow;
  color: black;
}
