.service_body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
.bookingCard {
  padding: 0px 80px;
}
.orderTitle {
  font-weight: bold;
  color: rgb(255, 123, 0);
}
.addproductForm {
  margin: 0 auto;
  width: 80%;
}
.addproductForm input,
textarea {
  margin: 5px 0;
  width: 100%;
}
.ordersubmitButton {
  border: none;
  border-radius: 20px;
  padding: 7px 30px;
  background-color: rgb(34, 31, 31);
  color: white;
  font-weight: bold;
}
.ordersubmitButton:hover {
  background-color: rgb(255, 136, 0);
  color: black;
}
.description {
  padding: 0 100px;
}
.description p {
  text-align: justify;
}
/* Media query */
@media (max-width: 992px) {
  .bookingCard {
    padding: 30px 0px;
  }
}
