.section2_image {
  height: 150px;
}
.section2_cart {
  border: 1px solid rgb(185, 181, 181);
  padding: 20px 10px;
  background-color: white;
}
.manage_order_button {
  border: 1px solid #e4604a;
  padding: 7px 30px;
  margin: 5px;
  font-weight: 700;
  border-radius: 20px;
  background-color: #e4604a;
  color: white;
}
.manage_order_button:hover {
  background-color: rgb(226, 220, 220);
  color: black;
}
.high {
  height: 15px;
}
.single_icon_color {
  color: #ffa200;
}
.sec2_dolar {
  color: #e4604a;
  position: relative;
  bottom: 10px;
}
.sec2_price {
  color: #e4604a;
  font-size: 35px;
}
.cart_b_height {
  padding-top: 20px;
  height: 130px;
}
