.section1-body {
  margin: 120px 0 80px 0;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
.fontStyle {
  font-weight: 700;
}
hr {
  width: 50px;
  border-bottom: 3px solid #ff9400;
}
.people-logo {
  height: 50px;
  width: auto;
}
.textAlign {
  text-align: justify;
}
.linkbutton {
  text-decoration: none;
  color: rgb(29, 28, 28);
  background-color: yellow;
  border-radius: 20px;
  padding: 7px 40px;
}
.linkbutton:hover {
  background-color: rgb(29, 28, 28);
  color: white;
}

.linkbutton2 {
  text-decoration: none;
  color: rgb(29, 28, 28);
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 50px;
}
.linkbutton2:hover {
  background-color: rgb(29, 28, 28);
  color: white;
}

/* Media query */
@media (max-width: 992px) {
  .forsmallSrceen {
    display: flex;
    justify-content: center;
    margin: 25px 0 50px 0;
  }
  .enjoy-logo {
    margin: 50px 0;
    display: flex;
    justify-content: center;
  }
}
