.background_color {
  background-color: rgb(43, 42, 42);
  color: white;
}
.hr_class {
  border: 1px solid gray;
  width: 80%;
  margin: 10px auto;
}

.copy_write {
  color: white;
}
.copy_write span {
  color: #ee3919;
}
.footer_title {
  color: #ee3919;
}
.footer_des {
  color: rgb(182, 175, 175);
}
.social {
  display: flex;
  justify-content: center;
}
.social-logo {
  height: 30px;
  width: 30px;
  margin: 5px;
}
.item small {
  margin: 10px 0;
  color: rgb(182, 175, 175);
}
.cursor2 {
  cursor: pointer;
  position: relative;
  /* margin: 0 5px; */
}
.cursor2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #e4604a;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: 0.4s;
}
.cursor2:hover::before {
  transform: scale(1, 1);
}
