.loginbody {
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}
.logintitle {
  /* box-shadow: 10px 10px 20px gray; */
  text-shadow: 5px 5px 5px gray;
}
input {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.cardBody {
  width: 100%;
  box-shadow: 10px 10px 40px gray;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 50px 0 50px 0;
}
.buttondesign {
  border-radius: 20px;
  height: 35px;
  border: none;
  padding: 7px 20px;
  box-shadow: 5px 5px 20px gray;
  width: 80%;
}
.icon {
  height: 25px;
  width: auto;
  margin-right: 5px;
}
