.sec3_body {
  background-color: #fdf1ef;
  padding: 60px;
}
.sec3_custom_row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.sec3_cart {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec3_logo {
  height: 150px;
}
.icon_color {
  color: #ffa200;
}
.sec3_order {
  border: 1px solid #e4604a;
  padding: 3px 20px;
  border-radius: 15px;
  font-weight: 500;
  color: white;
  background-color: #e4604a;
}
.sec3_order:hover {
  color: black;
  background-color: rgb(230, 223, 223);
}

/* Media query */
@media (max-width: 992px) {
  .sec3_custom_row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
